.submit-button {
    justify-content: flex-end;
}

.checkbox-container {
    display: block;
}

.checkbox-label-container {
    align-items: flex-end;
}

.btn-switch {
    align-items: center;
    justify-content: center;
}
