<div class="w-100 h-100 bg b p-4">
    <div class="gap-3">
        <div>
            <label for="file-name">File name</label>
            <input [(ngModel)]="name" type="text" name="file-name" id="file-name" />
        </div>
        <div class="row gap-2">
            <div class="gap-1">
                <label for="width">Width</label>
                <app-number-input
                    id="width"
                    [(value)]="width"
                    (valueChange)="widthChange()"
                ></app-number-input>
            </div>
            <div class="gap-1">
                <label for="height">Height</label>
                <app-number-input
                    id="height"
                    [(value)]="height"
                    (valueChange)="heightChange()"
                ></app-number-input>
            </div>
        </div>
        <div>
            <button class="p-1" (click)="switchOrientation()">Switch Orientation</button>
        </div>
        <div class="row gap-2">
            <div class="gap-1">
                <label for="ratio">Ratio</label>
                <app-number-input
                    id="ratio"
                    [(value)]="ratio"
                    (valueChange)="ratioChange()"
                ></app-number-input>
            </div>
            <div class="gap-1">
                <label for="keep-ratio">Keep ratio</label>
                <input [(ngModel)]="keepRatio" type="checkbox" name="keep-ratio" id="keep-ratio" />
            </div>
        </div>
    </div>

    <div class="mt-2 submit-button row">
        <button class="p-1" (click)="closeModal()">Cancel</button>
        <button class="p-1" (click)="createScene()">Create</button>
    </div>
</div>
