<div class="w-100 h-100 bg b p-4">
    <div class="gap-3">
        <div class="gap-1 w-100">
            <label for="file-name">File name</label>
            <input [(ngModel)]="name" type="text" name="file-name" id="file-name" />
        </div>
        <div class="row gap-2">
            <div class="gap-2 w-100">
                <div class="gap-1 w-100">
                    <label for="width">Width</label>
                    <app-number-input
                        id="width"
                        [(value)]="width"
                        (valueChange)="widthChange()"
                        [precisionShown]="0"
                    ></app-number-input>
                </div>
                <div class="gap-1 w-100">
                    <label for="height">Height</label>
                    <app-number-input
                        id="height"
                        [(value)]="height"
                        (valueChange)="heightChange()"
                        [precisionShown]="0"
                    ></app-number-input>
                </div>
            </div>
            <div class="gap-2 aside-width-height">
                <div class="gap-1 mt-2 row p-1 checkbox-label-container center-ai">
                    <div class="checkbox-container m-1">
                        <input
                            [(ngModel)]="keepRatio"
                            type="checkbox"
                            name="keep-ratio"
                            id="keep-ratio"
                        />
                    </div>

                    <label for="keep-ratio" class="pr-1"
                        >Lock aspect ratio of <br />
                        {{ ratioFaction }}</label
                    >
                </div>
                <div class="btn-switch">
                    <button class="p-2" (click)="switchOrientation()">Switch Orientation</button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 submit-button row gap-2">
        <button class="p-2" (click)="closeModal()">Cancel</button>
        <button class="p-2" (click)="createScene()">Create</button>
    </div>
</div>
