/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

div {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

//reset btn
button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

$spacing: (
    "0": 0,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 1rem,
    "4": 2rem,
    "5": 4rem,
);

$side: (
    "t": top,
    "r": right,
    "b": bottom,
    "l": left,
);

@each $key, $value in $spacing {
    @each $sideKey, $sideValue in $side {
        .m#{$sideKey}-#{$key} {
            margin-#{$sideValue}: $value;
        }
        .p#{$sideKey}-#{$key} {
            padding-#{$sideValue}: $value;
        }
    }
}

@each $key, $value in $spacing {
    .m-#{$key} {
        margin: $value;
    }
    .p-#{$key} {
        padding: $value;
    }
}

//x for left and right
@each $key, $value in $spacing {
    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }
    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }
}

//y for top and bottom
@each $key, $value in $spacing {
    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }
}

//generate class for gap
@each $key, $value in $spacing {
    .gap-#{$key} {
        gap: $value;
    }
}

@import "styles/theme.scss";

//Generate border class b-{} for each side
@each $sideKey, $sideValue in $side {
    .b#{$sideKey} {
        border-#{$sideValue}: $border;
    }
}

//Generate border class b-{} for each side x and y
.by {
    border-top: $border;
    border-bottom: $border;
}

.bx {
    border-left: $border;
    border-right: $border;
}

.b{
    border: $border;
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
