<div class="bg row w-100">
    @for (scene of scenesService.scenesList$ | async; track scene; let i = $index) {
        <button
            class="p-2 action scene-selector gap-1"
            [class.active]="scene.isCurrent"
            (click)="scenesService.setCurrentScene(i)"
        >
            {{ scene.canvas.get_name() }}
            <button class="p-1 action close-scene" (click)="scenesService.removeScene(i)">
                <fa-icon [icon]="faXmark"></fa-icon>
            </button>
        </button>
    } @empty {
        <div class="w-100 h-100 p-2 row">
            <span class="mr-2" style="transform: rotate(90deg)">↲</span> Let's start with a new
            scene
        </div>
    }
</div>
