.main-container {
    flex-direction: column;

    .top-row {
        height: 50px;
    }

    .main {
        .left {
            width: 100px;

            button {
                height: 25px;
            }
        }
        app-canvas {
            width: 100%;
        }
    }
}
