label {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;

    .color {
        display: none;
    }

    &.is-valid {
        .color {
            display: block;
        }
        .invalid-color {
            display: none;
        }
    }

    div {
        cursor: pointer;
    }
}
