<div class="h-100 bg br">
    <div *ngFor="let button of buttons; let i = index">
        <input
            class="sr-only"
            type="radio"
            id="btn-id-{{ i }}"
            name="btn-toolsbar"
            (change)="onclick(button)"
        />
        <label title="{{ button.title }}" class="action flex center p-2" for="btn-id-{{ i }}"
            ><fa-icon [icon]="button.icon"></fa-icon
        ></label>
    </div>
    <app-color-picker
        class="w-100"
        (color)="changeColor($event)"
        [colorInput]="fillColor()"
        [invalidColor]="fillColorInvalid()"
    ></app-color-picker>
</div>
